{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Makerspace Form</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
  </head>
  <body>
    <div class="success-bdy">
      <h1>Thank you for your submission</h1>
      <p>Name: {{ name }}</p>
      <p>Knox Email: {{ email }}</p>
      <p>Phone Number: {{ phone }}</p>
      <p>Student ID: {{ id }}</p>
      <p>
        If this infortmation is correct, you can go in and sit down at your
        preferred table.
      </p>
      <a href="{% url 'home' %}">Go back to the home page</a>
      <a href="{% url 'contact' %}">Submit another form</a>
    </div>
  </body>
</html>
